/* resize left */
div.ql-editor .ql-image-resize-left {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
}
/* resize center */
div.ql-editor .ql-image-resize-center {
  margin: 0.5rem auto;
  display: block;
}
div.ql-editor .ql-image-resize-center {
  width: -moz-fit-content;
  width: fit-content;
}
/* resize right */
div.ql-editor .ql-image-resize-right {
  float: right;
  margin: 0.5rem 0 0.5rem 1rem;
}

/* image caption */
div.ql-editor [class^="ql-image-resize-"][data-title]:not([data-title=""]) {
  position: relative;
  margin-bottom: 2rem;
}
div.ql-editor
  [class^="ql-image-resize-"][data-title]:not([data-title=""])::after {
  content: attr(data-title);
  display: block;
  position: absolute;
  bottom: -2rem;
  padding-top: 2px;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  font-size: 0.9rem;
  background-color: white;
}
div.ql-editor .ql-image-resize-left[data-title]:not([data-title=""])::after {
  text-resize: left;
}
div.ql-editor .ql-image-resize-center[data-title]:not([data-title=""])::after {
  text-resize: center;
}
div.ql-editor .ql-image-resize-right[data-title]:not([data-title=""])::after {
  text-resize: right;
}
